node_modules
build
.dockerignore
Dockerfile
Dockerfile.prod

./api/idea/
./api/vscode/
./api/git/
./api/venv/
./api/__pycache__/
./api/gitignore
./api/Dockerfile# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore# Elastic Beanstalk Files
.elasticbeanstalk/*
.git
.gitignore